@tailwind base;
@tailwind components;
@tailwind utilities;

/* html body, heading*/

@layer base {
  * {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#141414] text-white scrollbar-hide;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6 duration-[.25s];
  }
}

/* applying a style to the header link
 Apply makes it so that you can use tailwind css inside the brackets
Of course you can use not and just use vanilla css which is fine but why use tailwind then?
*/

@layer components {
  .headerLink {
    @apply cursor-pointer text-xl font-semibold text-[#ffffff] transition duration-[.25s] hover:text-[#ffdd00];
  }
  .searchIcon {
    @apply  h-6 w-6 cursor-pointer sm:inline hover:text-[#ffdd00] transition duration-[.25s];
  }
  .searchIcon2 {
    @apply  h-6 w-6 cursor-pointer sm:inline hover:text-amber-700 transition duration-[.25s];
  }

  .returnTop {
    @apply h-[60px] w-[60px] fixed right-2 bottom-5 cursor-pointer bg-amber-500 rounded-full p-2 z-[50] transition duration-[.35s];
  }

  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .input {
    @apply w-full rounded bg-[#333333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  .planBox {
    @apply relative mx-1.5 flex h-20 bg-[#c88b15] w-[calc(100%/3)] cursor-default items-center justify-center
    rounded-sm font-semibold shadow after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent after:border-t-[#c88b15] after:content-[""] 
    md:h-32 lg:mx-8;
  }

  /* Table */
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }

  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }

  .membershipLink {
    @apply cursor-pointer text-blue-500 hover:underline;
  }

    /* MUI Menu */
    .menu {
      @apply md:hidden;
    }
  
    .menu .MuiPaper-root {
      @apply !absolute !top-20 !left-[20%] !rounded-none !border !border-[gray] !bg-black !text-white;
    }
  
    .menu .MuiList-root {
      @apply !p-0;
    }
  
    .menu .MuiMenuItem-root {
      @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
    }

    .skeletonCard {
      background: linear-gradient(-45deg, #f0b432, #d98f27, #b54b16, #b32f0e);
	    background-size: 400% 400%;
  	  animation: gradient 2s ease infinite;
    }

      @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

    input[type="search"] {
    -webkit-appearance: none !important;
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem 0 0 0.25em;
    border: 1px solid #e0e0e5;
    font-size: 1rem;
    max-width: 900px;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }

  input[type="search"]:focus {
    transition: all 0.5s;
    box-shadow: 0 0 10px #f9d442b9;
    border-color: #f9d342;
    outline: none;
  }
  
  .searchButton {
    border-radius: 0rem 0.25em 0.25em 0em;
  }

 
}

